{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           piposaude/calenjars {:mvn/version "0.2.0"}}
 :aliases {:depstar   {:extra-paths ["calendars"]
                       :extra-deps  {seancorfield/depstar {:mvn/version "0.5.2"}}}
           :calendars {:main-opts ["-m" "com.piposaude.calenjars.generate"]}}}
