#kaocha/v1
        {:tests    [{:id        :unit
                     :skip-meta [:performance]}
                    {:id         :performance
                     :focus-meta [:performance]}]
         :reporter #profile {:default kaocha.report/dots
                             :ci      kaocha.report/documentation}}
