{:paths       ["src"]
 :extra-paths ["resources"]

 :deps        {org.clojure/clojurescript {:mvn/version "1.11.60"}
               reagent/reagent           {:mvn/version "1.2.0"}
               tick/tick                 {:mvn/version "0.7.5"}
               io.github.luciolucio/holi {:mvn/version "1.1.0"}}

 :aliases     {:shadow-cli {:extra-deps {thheller/shadow-cljs {:mvn/version "2.26.2"}}
                            :main-opts  ["-m" "shadow.cljs.devtools.cli"]}
               :cljfmt     {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.11.2"}}
                            :main-opts  ["-m" "cljfmt.main"]}}}
