{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           io.github.luciolucio/holi {:mvn/version "0.7.0"}}
 :aliases {:depstar   {:extra-paths ["calendars"]
                       :extra-deps  {seancorfield/depstar {:mvn/version "0.5.2"}}}
           :calendars {:main-opts ["-m" "luciolucio.holi.generate"]}}}
